.extra_section {
    padding: 80px 0;
    background-color:
        color-mix(in srgb, var(--background-color) 90%, white 5%);
}
.form-control {
    background-color: transparent !important;
    color: aliceblue !important;
    border: none !important;
    border-bottom: 2px solid darkgoldenrod !important;
    border-radius: 0px !important;
}

.form-control:focus {
    outline: 0px solid;
    outline-color: #000000;
}
input[type="text"]::placeholder {
    color: rgb(255, 255, 255);
  }
input[type="text"]:focus {
    color: rgb(255, 255, 255);
  }